root = true

[*]
insert_final_newline = true
end_of_line = lf

[*.{js,py}]
charset = utf-8

[*.php]
indent_size = 4
indent_style = space

[*.{html,css,sass,scss}]
indent_size = 2
indent_style = space

[*.{js,jsx,ts,tsx,vue}]
indent_size = 4
indent_style = tab

[{package.json}]
indent_style = space
indent_size = 2

[*.md]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
